* {
    padding  : 0px;
    margin   : 0px;
    font-size: 11px;
}

#container {
    display              : grid;
    grid-template-columns: 25% 75%;
    height               : 100%;
}

#left {
    border-right    : 1.5px solid black;
    background-color: cornflowerblue;
    display         : flex;
    flex-direction  : column;
    padding-left    : 3px;
}

#stats {
    height       : 300px;
    border-bottom: black solid 1px;
    justify-items: center;
}

.statDress {
    font-size    : 15px;
    border       : greenyellow solid 2px;
    border-radius: 10px;
    background   : honeydew;
    height       : 20px;
    padding      : 5px;
    font-family  : 'Yomogi', cursive;
    font-weight  : bold;
    width        : 140px;
    margin       : auto;
    margin-top   : 2.5px;
    margin-bottom: 2.5px;
}

#jobButtonContainer {
    text-align: center;

}

#jobButton {
    border-radius: 10px;
    margin-top   : 10px;
    margin-bottom: 10px;
    background   : red;
    height       : 60px;
    width        : 110px;
    font-family  : 'Otomanopee One', sans-serif;
    font-size    : 17px;
    padding      : 5px;

}

#upgrades {
    display         : flex;
    flex-wrap       : wrap;
    height          : 900px;
    background-color: blueviolet;
}

.upgradeButton {
    width        : 75px;
    height       : 25px;
    border       : orange 2px solid;
    margin       : 10px;
    border-radius: 10px;
    font-family  : 'Yomogi', cursive;
}



#upInfo0 {
    width     : 75px;
    background: black;
    color     : cornflowerblue;
    margin-top: 15px;
    position  : absolute;
    display   : none;
    z-index   : 2;
}

#softGloves:hover+#upInfo0 {
    display: flex;
}


#right {
    border-left     : 1.5px solid black;
    background-color: cyan;
    display         : flex;
    flex-wrap       : wrap;
}

.houseContainer {
    display       : flex;
    flex-direction: column;
    text-align    : center;
    margin        : 10px;
}

.repairBar {
    background-color: bisque;
    width           : 49.5px;
    height          : 25px;
}

.repairBarFinish {
    background-color: black;
    width           : 0px;
    height          : 25px;
}

.repairBarFinish2 {
    background-color: green;
    width           : 0px;
    height          : 25px;
}

.houseContainerImage {
    border: 0.5 black solid;
    height: 49.5px;
    width : 49.5px;
}

.houseContainerButton {
    border: 0.5 black solid;
    height: 25px;
    width : 50px;
}

#houseOne {
    display: none;
}

#houseTwo {
    display: none;
}

#softGloves {
    display: none;
}

#thickGloves {
    display: none;
}

#sturdyGloves {
    display: none;
}

#aTrowel {
    display: none;
}